.card-person{
  width: 20rem;
  height: 30rem;
  margin: 0 0.2rem;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  background-color: black;
  box-shadow: 3px 3px rgba(20, 20, 20, 0.25), 0 0 0.4em rgba(20, 20, 0, 1);

}
.card-person img{
  object-fit: contain;
  min-width: max-content;
  min-height: max-content;
  width: 20rem;
  height: 30rem;
}
.position{
  margin-top: -15rem;

}
.degrad{
  position: absolute;
  width: 100%;
  height: 20rem;
  background: linear-gradient(0deg,rgba(20,20,20,1) 40%, rgba(20,20,20,0.90) 50%, rgba(20,20,20,0.80) 65%, rgba(20,20,20,0.70) 75%, rgba(20,20,20,0.55) 90%, rgba(20,20,20,0.05) 100%);
}
