<div class="bg-products">
  <div class="mask"></div>
  <div class="container container-verticle">
    <div class="row">
      <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 mx-auto">
        <div class="card p-5 text-white">
          <h1 class="text-center text-white pb-4">Criando um Produto</h1>
          <form class="form">
            <label class="form-label px-1" for="form1">Título</label>
            <input type="text" id="form1" class="form-control form-person px-3 mb-4"/>
            <label class="form-label px-1" for="form1">Descrição</label>
            <input type="text" id="form1" class="form-control form-person px-3 mb-4" />
            <label class="form-label px-1" for="form1">Capa</label>
            <input type="text" id="form1" class="form-control form-person px-3 mb-4" />
            <div class="row">
              <div class="col-6">
                <label class="form-label px-1" for="form1">Example label</label>
                <input type="text" id="form1" class="form-control form-person px-3 mb-4"  />
              </div>
              <div class="col-6">
                <label class="form-label px-1" for="form1">Example label</label>
                <input type="text mb-4" id="form1" class="form-control form-person px-3" />
              </div>
            </div>
            <div class="justify-content-center d-flex">
                <button class="btn btn-cancel text-white btn-person me-2">Cancelar</button>
                <button class="btn btn-share text-white btn-person ms-2 w-100">Publicar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>
