input, input:focus, textarea, textarea:focus {
  border: 2px solid #333;
}
label{
  color: rgb(230, 230, 230);
}

/* BACKGROUND */

.bg-products{
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100vh;
  background-size: cover;
  background: url("../../../../assets/image/bg-products.jpg") no-repeat fixed;
}

/* CARD */

.card{
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.form-person{
  color: #ffffff !important;
  background-color: #333 !important;
}

.form-person:hover {
  background-color: rgb(60, 60, 60) !important;
  border: 2px solid rgb(60, 60, 60);
}

.btn-cancel{
  background-color: #000000;
}
.btn-cancel:hover{
  background-color: rgb(14, 14, 14);
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.btn-share{
  background-color: #a50000;
}
.btn-share:hover{
  background-color: rgb(128, 2, 2);
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}




