/* COMPONENTS DEFAULT */

body, html {
  background-color: #141414;
  font-size: 14px;
  user-select: noneB;
}

hr{
  box-sizing:border-box;
  width:100%;
  border-top: 1px solid rgb(223, 223, 223);
}

/* BUTTON */

button:focus, button:active, button::after {
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(250, 250, 250, 0.7) !important;
}
.active{
  border: none;
  font-weight: 700;
}

/* BACKGROUND */

.bg-color-init{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.70) 0%, rgba(0,0,0,0.55) 15%, rgba(0,0,0,0.45) 30%, rgba(0,0,0,0.35) 45%, rgba(0, 0, 0, 0.25) 55%, rgba(0, 0, 0, 0.172) 70%, rgba(255,255,255,0) 100%);
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;

}
.bg-dark-person{
  background-color: rgb(20, 20, 20);
  -webkit-transition: 0.3s ease-in;
-moz-transition: 0.3s ease-in;
-o-transition: 0.3s ease-in;
transition: 0.3s ease-in;
}

/* POSITION */


